body {
  margin: 0px;
}

.main-container {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}

.container {
  color: #6d6c96;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #f7fbfe;
  height: 95%;
}

.navbar {
  width: 100%;
  height: 5%;
  background-color: white;
  padding: 12px;
}
.navbar img {
  padding-left: 25px;
  height: 40px;
  width: 120px;
}
.card-wrapper {
  margin: 20px 25px;
  display: flex;
  flex-direction: column;
}

.leftbox {
  width: 20%;
  overflow: scroll;
}
.middlebox {
  width: 47%;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}
.rightbox {
  width: 24%;
  overflow: scroll;
}
.card {
  padding: 10px 15px;
  border-radius: 20px;
  background-color: white;
  border: 1.5px solid #dee0e1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;
}
.home {
  min-height: 280px;
}
.home > div {
  padding: 5px;
  border-radius: 5px;
}
.home > div:hover {
  background-color: #e9f8ff;
  cursor: pointer;
}
.admin {
  min-height: 280px;
}
.admin > div {
  padding: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.reward {
  flex-direction: row;
  justify-content: space-between;
}
.reward img {
  height: 20px;
  width: 30px;
}
.reward button {
  color: #ebfeff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  background: rgb(6, 74, 238);
  background: linear-gradient(
    174deg,
    rgba(6, 74, 238, 1) 50%,
    rgba(96, 130, 242, 1) 100%
  );
}
.store {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
}
.townhall {
  width: 100%;
  height: 200px;
}
textarea {
  height: 90px;
  resize: none;
  border-radius: 10px;
  padding: 15px 20px;
  border: 1.5px solid #dee0e1;
}
.heading-wrapper img {
  width: 50px;
  height: 50px;
}
.heading-wrapper {
  display: flex;
  flex-direction: row;
}
.heading {
  display: flex;
  padding-left: 10px;
  flex-direction: column;
  justify-content: space-around;
}
.primary {
  font-size: 18px;
  font-weight: bold;
}
.secondary {
  font-size: 12px;
}
.post {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  bottom: 50px;
  padding: 0px 16px;
}
.reward-options {
  display: flex;
  justify-content: space-around;
  width: 80px;
  padding: 5px;
  color: #e1458a;
  border: 2.5px solid #e1458a;
  border-radius: 4px;
}

.post-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.emoji-wrapper {
  display: flex;
  margin-right: 10px;
}
.post-options button {
  background-color: #0070fb;
  color: #ebfeff;
  font-size: 10px;
  border-radius: 4px;
  padding: 10px;
  border: none;
}
.post-options .emoji {
  height: 15px;
  width: 15px;
  padding: 2px;
}

.feed {
  width: 100%;
  margin-top: 80px;
}
.feed-wrapper > div {
  padding: 5px;
}
.profile-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.profile {
  display: flex;
  justify-content: space-between;
}
.profile-pic {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: fill;
  padding: 5px;
  background: linear-gradient(to bottom, #fb8ca9, #b4b3f0);
  position: relative;
  left: 16px;
  bottom: 55px;
}
.name {
  display: flex;
  position: relative;
  left: 32px;
}

.dots {
  display: flex;
}
.dots img {
  height: 20px;
  width: 20px;
}

.post-section {
  word-spacing: 7px;
  position: relative;
  bottom: 40px;
}
.post-section .text {
  margin-bottom: 30px;
}
.post-section img {
  width: 100%;
  height: auto;
  object-fit: fill;
  border-radius: 10px;
}

.interaction {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 20px;
}
.like-wrapper {
  display: flex;
  justify-content: flex-start;
}
.like {
  background-color: #f7fbfe;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 20px;
}
.cmnt-info {
  margin-bottom: 15px;
  padding: 10px;
}
.add-cmnt {
  display: flex;
  flex-direction: column;
}
.cmnt-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
.cmnt-photo {
  height: 51px;
  width: 51px;
  border-radius: 50%;
  object-fit: fill;
}
.add-cmnt textarea {
  width: -webkit-fill-available;
  height: 20px;
  resize: none;
  border-radius: 20px;
  padding: 15px;
  border: 1px solid #dee0e1;
  margin-left: 10px;
  font-size: 16px;
}
.cmnt-emoji {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 39px;
  padding-right: 15px;
}
.smile {
  height: 20px;
  width: 20px;
  padding: 2px;
  padding-right: 5px;
}
.share {
  height: 20px;
  width: 20px;
  padding: 2px;
}

.celebration {
  min-height: 140px;
}
.celebration > div {
  padding: 5px;
}
.leaderboard {
  min-height: 160px;
}
.leaderboard > div {
  padding: 5px;
}
.leaders {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leader {
  display: flex;
  align-items: center;
}
.leader-pic {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}
.star {
  color: #f5b10e;
}
.surveys {
  min-height: 100px;
}
.survey-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: bold;
}
.survey-list > div {
  padding: 5px;
}
.point {
  min-height: 180px;
}
.point > div {
  padding: 5px;
}
.all {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.see-all {
  padding: 5px;
  font-weight: lighter;
  border-radius: 3px;
  color: blueviolet;
  background-color: aliceblue;
}
.shop-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.shop-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.cart-wrapper {
  display: flex;
  justify-content: space-around;
}
.bold {
  font-weight: bold;
}
.highlight {
  color: #5fa1ff;
  font-weight: bold;
}

.amazon {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}
.amazon img {
  height: 60px;
  width: 100%;
}
.walmart {
  margin-bottom: 20px;
}
.walmart img {
  height: 60px;
  width: 100%;
}
.cart {
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2);
  width: 42%;
  display: flex;
  justify-content: center;
  padding: 2px;
}
.cursor {
  cursor: pointer;
}
